.icon-AdminDiamanteDesk:before {
    content: url("../img/AdminDiamanteDesk.png");
}

.icon-AdminDiamanteDeskDark:before {
    content: url("../img/AdminDiamanteDeskDarkSmall.png");
}

.icon-AdminDiamanteDeskDark {
    width: 24px;
}